@{
    ViewBag.Title = "OrdersList";
}

<div class="dropdown-menu" id="show-orders-container">
    <table id="show-orders-table">
        <tr>
            <th id="order-id-col">Id</th>
            <th id="caller-type-col">Caller Type</th>
            <th id="caller-name-col">Caller Name</th>
            <th id="caller-phonenum-col">Caller PhoneNum</th>
            <th id="pickfromaddress-col">PickFromAddress</th>
            <th id="pickfromaddress-zip-col">PickFromAddress ZIP</th>
            <th id="taketoaddress-col">TakeToAddress City</th>
            <th id="taketoaddress-zip-col">TakeToAddress ZIP</th>
            <th id="otherinfo-col">Other Info</th>
            @*<td id="wrecker-name-col">Caller Name</td>*@
            @*<td id="Id">Id</td>
                <td id="Id">Id</td>*@
        </tr>
    </table>
</div>