@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

html{
    height: 100%;
}

body{
    height: 100%;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.float-right{
    float : right;
}

p {
	line-height: 28px;
	margin-bottom: 25px;

}

.centered{
	text-align: center;
}

a{
	color: #f85c37;
}

a:hover , a:focus{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

hr{
	display: block;
	height: 1px;
	border: 0px;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.panel{
	background-color: #f2f2f2;
}

.bordered{
	border: 1px solid black;
}

.caller{
}

.wrecker {
}

/*#info-section{
	
	
}

#order-section{
	
}*/

#zone1-section{
}

#zone1-button-edit {
    background-color: #0de5db;
    visibility: hidden;
}
#zone1-button-save{
	background-color: #0de5db;
	visibility : hidden;
}

#zone2-button-edit {
    background-color: #003366;
    visibility: hidden;
}
#zone2-button-save{
	background-color: #003366;
	visibility : hidden;
}

#zone3-button-edit {
    background-color: #393877;
    visibility: hidden;
}
#zone3-button-save{
	background-color: #393877;
	visibility : hidden;
}

.container-row{
    display: flex;
}

.form-width{
    width: 100%;
}

.btn-primary {
    margin-bottom: 2%;
}

.btn {
    color: white;
    border-color: black;
}

.dropdown-menu {
    background-color: #f2f2f2;
}

.btn-secondary {
    margin-bottom: 2%;
    background-color: darkgrey;
}


.btn-group-vertical {
    margin-bottom: 2%;
}

#navbar{
    display: flex;
	border: 1px solid black;
}

#map {

	height: 89vh;
}

/*.styled{
	
}*/

#address-list-container {
    padding: 0 30px 0 30px;
}

.clock{
	text-align: center;
	font-size: 400%;
}

.modal-dialog{
    width: 80%;
}

.show-address-button{
    border: none;
}

.pick-from-row{
    padding-top: 4px;
}

.my-form-control {
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.custom-select {
    width: 120%;
    height: 25px;
    font-size: 12px;
    padding: 0;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#autocompleteTo, #autocompleteFrom{
    margin-bottom: 2%;
}
